{% include "header.html" %}
<div class="container p-3">
	<span style="font-weight:bold">samarpaṇam (समर्पणम्)</span>
	is a group of Sanskrit-minded individuals from technological institutes
	whose aim is to revive the culture of studying technical content written in
	or using Sanskrit. 
	<br>
	The term 'samarpaṇam (समर्पणम्)' is formed of two words
	<span style="font-style:italic">'samskritaya arpaṇam (संस्कृताय अर्पणम्)'</span>
   	that means dedicating to/for the sake of Samskrit.
	<!--
    <div class="card">
        <div class="card-header leader">
            Sample Header
        </div>
        <div class="card-body">
            This is sample content.
            Value of <span class="text-muted">show_events</span> is: <span class="text-secondary">{{data.show_events}}</span>

        </div>
    </div>
	-->
</div>
{% include "footer.html" %}
